.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    text-decoration: none;
    
}

.navbar ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar ul li{
    display: inline-block;
    padding: 20px;

}

.navbar{
    padding:20px;
    background-color: rgb(255, 255, 255);
    background: transparent;
}

.navbar ul{
    text-align: right;

}


.card{
    border: 1px solid hsl(0, 0%, 74%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 53%); 
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    display: inline-block;
}

.card-image{
    border-radius: 50%;
}

